.elm-seattle-hero {
  background: url('seattle-skyline-dark.jpg') center/cover ;
  color: white;
}

.elm-seattle-hero .mdl-grid {
  margin-bottom: 0;
}

.light-background {
  background: linear-gradient(rgba(76,176,203,0.2), rgba(76,176,203,0.1), #fff, #fff);
}

.hero-text {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-weight: 200;
  margin-top: 3em;
}

.mdl-grid {
  padding-bottom: 2em;
}

a {
  color: blue;
}
